{{!-- <div class="jumbotron text-center">
  <h1>Restaurant Bucketlist</h1>
  <p>Home Page</p>
</div>

<a href="/login">
  <button type="login" class="btn btn-primary">Log-In</button>
</a>

<a href="/register">
  <button type="register" class="btn btn-primary">Register</button>
</a>

<a href="/bucketlist">
  <button type="bucketlist" class="btn btn-primary">Bucketlist</button>
</a> --}}