<div class="jumbotron text-center">
  <h1>Restaurant Bucketlist</h1>
  <p>Jot down a restaurant and mark it off your list once you've visited!</p>
</div>

<a href="/signin">
  <button type="signin" class="btn btn-primary">Sign-In</button>
</a>

<a href="/register">
  <button type="register" class="btn btn-primary">Register</button>
</a>