<h1>Restaurants</h1>

<h2>Restaurant Bucketlist</h2>

<ul>
  {{#each restaurant}}
    {{#unless this.visited}}
      {{> restaurants/restaurant-block visited=1}}
    {{/unless}}
  {{/each}}
</ul>

<h2>Restaurants you've bucketed</h2>

<ul>
  {{#each restaurant}}
    {{#if this.visited}}
      {{> restaurants/restaurant-block visited=0}}
    {{/if}}
  {{/each}}
</ul>

<h2>Add to your bucketlist!</h2>
<form class="create-form">

  <div class="form-group">
    <label for="rest">Restaurant Name:</label>
    <input type="text" id="rest" name="name">
  </div>

  <button type="submit">Add Restaurant</button>
</form>