<div class="jumbotron text-center">
  <h1>Restaurant Bucketlist</h1>
  <p>Jot down a restaurant and mark it off your list once you've visited!</p>
</div>

<form method="POST" action="/register">
  <div class="form-group">
    <label for="exampleUserName1">Username</label>
    <input type="username" name="username" class="form-control" id="exampleUsername1" aria-describedby="usernameHelp" placeholder="Enter username">
    <small id="tip" class="form-text text-muted">Since this is just a dummy app, don't use any real usernames or passwords you may use for other sites</small>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" name="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword2">Please re-enter password to confirm</label>
    <input type="password" name="password2" class="form-control" id="exampleInputPassword2" placeholder="Password">
  </div>
  <div class="form-check">
    <input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">Check me out</label>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>